<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지도 예제</title>
    <link rel="stylesheet" th:href="@{/css/map_style.css}">
    <link rel="stylesheet" th:href="@{/css/header_style.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=53058506472e68663c191f4ba75fc7b0&libraries=clusterer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="js/map.js"></script> <!-- JavaScript 분리 -->
</head>
<body>
    <div th:replace="header :: header"></div>

    <div id="content">
        <div id="sidebar">
            <h2>상권 분석</h2>
            <div class="chart">
                <h3>전체 상권 등록 그래프</h3>
                <div id="1st_category" style="font-size: 16px; font-weight: bold; margin-top: 10px;"></div>
                <canvas id="ksicChart" style="width: 100%; height: 400px;"></canvas>
            </div>
            <div class="chart">
                <h3>유동인구 분석</h3>
                <div id="chart2"></div>
            </div>     
            <div>
                <label for="longitude">경도:</label>
                <input type="text" id="longitude" readonly>
                <label for="latitude">위도:</label>
                <input type="text" id="latitude" readonly>
                <label for="radius">반경 (max = 2,000 m):</label>
                <input type="number" id="radius" value="100" min="0" max="2000">
            </div>

            <button id="send-coordinates">좌표 보내기</button>
        </div>
        
        <div id="business-list"></div> 

        <div id="map" style="width:100%;height:auto;"></div>
    </div>   
</body>
</html>
